@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
  background-color: white;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.drum-pad{
  background-color: #c8cfd4;
  border: none;
  border-radius: 7px;
  width: 120px;
  height: 80px;
  font-size: 25px;
  color: #ec475d;
  font-family: 'Ubuntu', serif;
  margin-left: 20px;
  margin-top: 20px;
}
.drum-pad:hover{
  cursor: pointer;
}
.drum-pad>p{
  font-size: 0.8rem;
  color: black;
  font-weight: 200 !important;
}
#display{
  display: flex;
  justify-content: center;
}
.playing{
  transform: scale(1.1);
  border-color: #ead748;
  box-shadow: 0 0 0.8rem #ead748;
}
